<head>
{% load static %}
   <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block navbar %}
    <div class="nav">
        <ul>
            <li><a href="{% url 'simulator:home' %}">Home</a></li>
            <li><a href="{% url 'simulator:profile' %}">Profile</a></li>
            <li><a href="">Leaderboard</a></li>
        </ul>
        <p class="uppercase">Welcome {{ request.user.get_username }}</p>
    </div>
    {% endblock %}
    <div>
        <div class="row">
            <div>
                <!-- <a href="/login"><button class="logout" value="Login">Logout</button></a> -->
                <form action="{% url 'simulator:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="logout">Logout</button>
                </form>
                <h1>{% block page_name %}{% endblock %}</h1>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>
