<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    {% block navbar %}
    <div class="nav">
        <ul>
            <li><a href="{% url 'simulator:home' %}">Home</a></li>
            <li><a href="{% url 'simulator:profile' %}">Profile</a></li>
            <li><a href="">Leaderboard</a></li>
        </ul>
    </div>
    {% endblock %}
    <div>
        <div class="row">
            <div>
                <a href="/logout"><button class="logout" value="Login">Logout</button></a>
                <h1>{% block page_name %}{% endblock %}</h1>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>
