<head>
{% load static %}
   <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block navbar %}
    <div class="nav">
        <p class="name">WatchDog</p>
        <ul>
            <li><a href="{% url 'simulator:home' %}"><img src="/static/pictures/home.jpg" alt="Home" style="width:20px;height:20px;"></a></li>
            <li><a href="{% url 'simulator:profile' %}"><img src="/static/pictures/profile.jpg" alt="Profile" style="width:20px;height:20px;"></a></li>
            <li><a href="{% url 'simulator:leaderboard' %}"><img src="/static/pictures/leaderboard.jpg" alt="Leaderboard" style="width:20px;height:20px;"></a></li>
            <li class="subNav">
                <a href="#" class="dropbtn">{{ request.user.get_username }} <span class="arrow">&#9660;</span></a>
                <div class="dropdown-content">
                  <a href="{% url 'simulator:logout' %}" method="post">
                    {% csrf_token %}
                    <!-- <button class="logout">Logout</button> -->
                    <class="logout">Logout</button>
                  </a>
                </div>
            </li>
            <!-- <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </li> -->
        </ul>
        <!-- <p class="uppercase">Welcome {{ request.user.get_username }}</p> -->
    </div>
    {% endblock %}

    {% block content %}{% endblock %}
</body>