{% extends 'base.html' %}

{% block content %}

  {% load static %}
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>Stock WatchDog</title>
  <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style_modal.css' %}">  
  
  <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style_home.css' %}">
  
  <script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.autocomplete.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/stock_company-autocomplete.js' %}"></script>
</head>

<body>
              <!-- The Modal -->

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">×</span>
     <img src = "../static/loading-dog.gif" data-original = "../static/foo567.jpg" alt="Mountain View" class= "dog_gif" id = "stockgraph">
    
    <div class="sameline"><pre><p>Stock Name:               </p></pre></div>
    <div class="sameline"><input type="button" class="modalinfobuttons" value="Input Button" id = "hit1"></div><br><br>
    <div class="sameline"><pre><p>Stock Symbol:                 </p></pre></div>
    <div class="sameline"><input type="button" class="modalinfobuttons" value="Input Button" id = "hit2"></div><br><br>
    <div class="sameline"><pre><p>Stock Market:               </p></pre></div>
    <div class="sameline"><input type="button" class="modalinfobuttons" value="Input Button" id = "hit3"></div><br><br>
    <div class="sameline"><pre><p>Stock Price:                        </p></pre></div>
    <div class="sameline"><input type="button" class="modalinfobuttons" value="Input Button" id = "hit4"></div><br><br>
    <div class="sameline"><pre><p>Last Trade Date and Time: </p></pre></div>
    <div class="sameline"><input type="button" class="modalinfobuttons" value="Input Button" id = "hit5"></div><br><br>
    

    <div class="toright">
      Quantity:
      <input type="number" id ="quant" name="quantity" min="1" value="1">
      Buy:
      <input type="radio" id="radio1" name="market" value="buy" checked="checked">
      <br>
      Sell:
      <input type="radio" id="radio2" name="market" value="sell">
      <br>
      <button class="button" type="submit" id="marketExecution" style="float:righ;t">Go</button>
    </div>
  </div>
</div>
<div id="outerMarketStatus">
    <!-- if a trade has been placed, the data message goes here -->
</div>
  <p id="demo"></p>
  <div id="w">
    <div id="content">
      <h1>Stock Market Company Lookup</h1>
      <div id="searchfield">
        <form method="post"><input type="text" name="company" class="biginput" id="autocomplete" method="POST" placeholder="Search a company">
         <a href="#" class="button" id="hit">Search</a>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("hit");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
	//As matplotlib takes arounds 1-2 secs for creating the image, we wait for 3 secs before finally loading it.

      setTimeout(function () {

		//We use different classes for stockgraph and dog gif which helps differentiate their css content.
		var aa = document.getElementById("stockgraph").getAttribute("data-original");
		document.getElementById("stockgraph").setAttribute("src", aa);
		//This timeout is to make sure that only after the image is set to graph will its size increase. Or else earlier
		//the dog gif was increasing to the size of our graph.
		setTimeout(function () {
			document.getElementById("stockgraph").className="stock_graph";
		    }, 10);			
		

		    }, 3000);
     		
     modal.style.display = "block";
 

}






// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    
//We need to change the image back to dog gif for the next time the user searches for a stock	
    document.getElementById("stockgraph").className="dog_gif";
    $("#stockgraph").attr("src","../static/loading-dog.gif");
    $('#autocomplete').val("");
    modal.style.display = "none";
    
   $.getJSON("delete_image").done(function(data){});
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    
    if (event.target == modal) {
        document.getElementById("stockgraph").className="dog_gif";
	$("#stockgraph").attr("src","../static/loading-dog.gif");
        modal.style.display = "none";
    $('#autocomplete').val("");
	$.getJSON("delete_image").done(function(data){});
    }
}
</script>
        </form>
      </div><!-- @end #searchfield -->
    </div><!-- @end #content -->
  </div><!-- @end #w -->
</body>


{% endblock%}




