{% extends 'login_base.html' %}

{% block content %}
    {% if form.errors %}

<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}

<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}

<p>Please login to see this page.</p>
    {% endif %}
{% endif %}


<div class="loginForm">
    <form action="{% url 'simulator:loggedin' %}" method="post">
        {% csrf_token %}
        <p class="bs-component">
            <!-- <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
            </table> -->        
            <label for='username'> Username: </label> 
            <input id='username' type='text' name='username' maxlength='100' required /> <br> 
            <label for='password'> Password: </label>
            <input id='password' type='password' name='password' maxlength='100' required /> <br>
            <input type='submit' value='Login' />
            <!-- <input type="hidden" name="next" value="{{ next }}" />  -->
        </p>

        <!-- <p class="bs-component">
            <input class="btn btn-success btn-sm" type="submit" value="Login" />
        </p> -->
        <!-- <input type="hidden" name="next" value="{{ next }}" /> -->
    </form>

    <a href="/signup"><button class="submission" value="Register">Register</button></a>
    <br>
    <a href="">Forgot your password?</a>
</div>

{% endblock %}
