{% extends 'base.html' %}

{% block page_name %}User Profile{% endblock %}

{% block content %}
<div id="userBasicInfo">
    <p>Name: {{ user.username}}</p>
    <p>Portfolio Value: <!--{{ portfolio_value }} --></p>
</div>

<div id="userStockTable">
    <table style="border-spacing: 80px 0px;">
        <tr>
            <th>Stock Symbol</th>
            <th>Quantity Purchased</th>
            <th>Price Purchased</th>
            <th>Market Price</th>
            <th>Current Net Profit</th>
        </tr>
        <!--{% if positions %}-->
        <!--{% for position in positions %}-->
        <!--<tr>-->
            <!--<td>{{ position.symbol }}</td>-->
            <!--<td>{{ position.quantity }}</td>-->
            <!--<td>{{ position.price_purchased</td>-->
            <!--<td>{{ position.instrument.current_price }}</td>-->
            <!--<td>{{ position.price_purchased }} - {{ position.instrument.current_price }}</td>-->
        <!--</tr>-->
        <!--{% endfor %}-->
        <!--{% endif %}-->
    </table>
</div>

{% endblock %}
