 {% extends 'base.html' %}

{% block page_name %}User Profile{% endblock %}

{% block content %}
<div id="userBasicInfo">
    <h3>Name: {{ user.username}}</h3>
    <h3>Portfolio Value: ${{ portfolio_value }} </h3>
</div>

<div id="userStockTable">
    <table>
        <tr>
            <th>Stock Symbol</th>
            <th>Quantity Purchased</th>
            <th>Price Purchased</th>
            <th>Market Price</th>
            <th>Current Net Profit</th>
        </tr>

        {% if positions %}
        {% for position in positions %}
        <tr>
            <td>{{ position.symbol }}</td>
            <td>{{ position.quantity_purchased }}</td>
            <td>{{ position.price_purchased }}</td>
            <td>{{ position.instrument.current_price }}</td>
            <td>{{ position.net_profit }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>

{% endblock %}
