astroid==1.4.8
backports.functools-lru-cache==1.3
configparser==3.5.0
coverage==4.2
cycler==0.10.0
Django==1.10.2
django-crontab==0.7.1
django-nose==1.4.4
enum34==1.1.6
flake8==3.0.4
funcsigs==1.0.2
googlefinance==0.7
hashpumpy==1.2
isort==4.2.5
lazy-object-proxy==1.2.2
matplotlib==1.5.3
mccabe==0.5.2
mock==2.0.0
nose==1.3.7
numpy==1.11.2
pandas==0.19.1
pandas-datareader==0.2.1
pbr==1.10.0
postgres==2.2.1
psycopg2==2.6.2
pycodestyle==2.0.0
pyflakes==1.2.3
pylint==1.6.4
pylint-django==0.7.2
pylint-plugin-utils==0.2.4
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.7
requests==2.12.2
requests-file==1.4.1
six==1.10.0
South==1.0.2
stevedore==1.17.1
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wrapt==1.10.8
