@import url(http://fonts.googleapis.com/css?family=Raleway);


/* Generic CSS */
a {
    color: #CCFFCC;
}
body {
    font-family: Raleway, sans-serif;
}



input {
    font-family: Raleway, sans-serif;
    font-size: 25px;
    margin-right: 5px;
    border-radius: 6px;

}

/* Navigation Bar CSS */

.nav {
    width: 100%;
    background-color: #CCFFCC;
    height: 48px;
    text-align: center;
    display: table;
    box-shadow: 1px 1px 1px #888888;
}

p.uppercase {
    text-transform: uppercase;

 font-weight: 10;
  font-size: 0.8em;
  line-height: 1.5em;
  margin-bottom: 5px;
  letter-spacing: 2px;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: #CCFFCC;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}

.navMidHeader {
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
}


/* Login Pages CSS */
.loginImage {
    float: left;
    width: 50%;
    height: 400px;
    display: table;
}

.dogImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    min-height: 500px;
}

.loginInfo {
    float: right;
    width: 50%;
    height: 500px;
    /* background-color: lightblue; */
    display: table;
}

.loginForm {
    font-size: 25px;
    padding-top: 20px;
    padding-left: 100px;
}

.submission {
    font-size: 25px;
    font-family: Dosis;
    -webkit-box-shadow: none;
    /* TODO: Remove Shadow. */
    box-shadow: none;
    background-color: #CCFFCC;
    border-radius: 6px;
}

.logout {
    font-size: 15px;
    font-family: Dosis;
    -webkit-box-shadow: none;
    /* TODO: Remove Shadow. */
    box-shadow: none;
    background-color: #CCFFCC;
    border-radius: 6px;
    position: absolute;
    right: 10px;
}

/* User Profile CSS */
#userBasicInfo {
    border: 1px solid #CCFFCC;
    float: left;
    width: 20%;
}

#userStockTable {
    border: 1px solid #CCFFCC;
    float: right;
    width: 75%;
}

#marketStatus {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Leaderboard CSS */
.leaderboardContainer {
    text-align: center;
}

.leaderboardTable{
    align: center;
    border: 1px solid #CCFFCC;
}
